/*#dm-login {
    background-color:dodgerblue;
}

#fb-login {
    width:200px;
    height:50px;
}*/

body {
    font-family: "Arial", "Verdana", sans-serif
}

#player {
    display: block;
    margin-top: 30px;
}

#userDashboardCenter {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}

.squaresLeft {
    float: left;
    text-align: center;
}

.row {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.sqleft {
    float: left;
}

.squares {
    border-style: solid;
    border-width: 5px;
    border-color: #00d2f3;
    width: 180px;
    background-color: #00d2f3;
    text-align: center;
    margin-top: 25px;
    display:inline-block;
    margin-left: 25px;
}

.squareimg {
    width: 120px;
    height: 100px;
    background-color: #00d2f3;
}

.squarevalue {
    margin-top: 5px;
    background-color: ghostwhite;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 20px;
    font-weight: 800;
    color: #00d2f3;
    height: 30px;
}

.squaredesc {
    display: inline-block;
}

#data {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid #00d2f3;
    padding: 10px;
}

th {
    text-align: left;
    color: #00d2f3;
}